.App {
  text-align: center;
  color: #0d0d0d;
  background-color: #EDEADB;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 67px 1fr;
}

.modalButton {
  border-radius: 10px;
  font-size: 14px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  background-color: #0C1B23;
  color: #EDEADB;
}

.modalButton:hover {
  background-color: transparent;
  border-color: #0C1B23;
  border-style: solid;
  color: #0C1B23;
  cursor: pointer;

  border-style: inset;
}

.alert {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  background-color: #E4B531;
  color: #0D1C25;
  border-radius: 10px;
  height: 30px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  opacity: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.alertShow {
  opacity: 1;
}