.gameScreen {
    grid-row: 2;
    margin: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 210px 1fr;
}

.mapPart {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.inputPart {
    grid-column: 2;
    grid-row: 1;

    font-size: 14px;
}

.guessesPart {
    grid-column: 2;
    grid-row: 2;

    font-size: 14px;

    margin-left: 50px;
    margin-top: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-y: visible;
}

.textWrapper {
    width: 100%;
    position: relative;
}

.taskText {
    font-size: 18px;
}

.textFrom {
    color: #DA9907;
}

.textTo {
    color: #658467;
}

.newGame {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-16px) translateX(20px);

    height: 50px;
    width: 50px;
    background-color: #0C1B23;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.newGame:hover {
    background-color: #EDEADB;

    border-style: inset;
    border-color: #0C1B23;
    border-width: 2px;

    cursor: pointer;
}

.newGame .reloadIcon {
    fill: #EDEADB;
    height: 30px;
    width: 30px;
}

.newGame:hover .reloadIcon {
    fill: #0C1B23;
}

.wonBlock, .lostBlock {
    width: 100%;
    padding: 15px;
    margin: 5px;
    color: #EDEADB;
    border-radius: 10px;
    line-height: 20px;
}

.wonBlock {
    background-color: #4A6F5E;
}

.lostBlock {
    background-color: #0D0D0D;
}